    body { 
        font-family: Arial, sans-serif; 
        background: #F5DEB3; 
        padding: 20px; 
    }

    form { 
        max-width: 500px; 
        margin: auto; 
        background: white; 
        padding: 20px; 
        border-radius: 8px; 
        }

    label { 
        display: block; 
        margin-top: 10px; 
        font-weight: bold; }
        input, select, textarea { 
        width: 100%; 
        padding: 8px; 
        margin-top: 5px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        }

    button {
            margin-top: 15px; 
            padding: 10px; 
            background: #D2B48C; 
            color: black; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
        }

    button:hover { 
            background: #F5DEB3; 
        }

    .btn-back { 
        position: fixed; /* Siempre visible */ 
        top: 15px; /* Distancia desde arriba */ 
        left: 15px; /* Distancia desde la izquierda */ 
        padding: 8px 16px; 
        background: #D2B48C; 
        color: white; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        font-size: 14px; 
        transition: background 0.3s; 
    } 
    .btn-back:hover { background: #d59c51; }